@using ShopGiay.Models;
@model List<GIOHANG>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_CuaHangLayouts.cshtml";
}
@section JsFooter {
    <script src="~/Content/Client/js/Cart.js"></script>
}
@section headertop {
    @{ Html.RenderAction("HeaderTopPartial", "Store");}
}
@section headerbottom {
    @{ Html.RenderAction("DanhSachLoai", "Loai");}
}
<div class="site-wrap" style="margin: 30px">
    <div class="site-section">
        <div style="margin: 100px;">
            <h3 style="text-align: center; margin-bottom: 30px">GIỎ HÀNG CỦA BẠN</h3>
            @if (TempData["LoiSL"] != null)
            {
                <div class="alert alert-danger alert-dismissible" role="alert" style="height: 50px">
                    <strong>@TempData["LoiSL"]</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <div class="row mb-5">
                <form class="col-md-12" method="post">
                    <div class="site-blocks-table">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail text-center" style="font-weight: bold;">Ảnh</th>
                                    <th class="product-name text-center" style="font-weight: bold;">Sản phẩm</th>
                                    <th class="product-name text-center" style="font-weight: bold;">Màu sắc</th>
                                    <th class="product-name text-center" style="font-weight: bold;">Size</th>
                                    <th class="product-price text-center" style="font-weight: bold;">Giá</th>
                                    <th class="product-quantity text-center" style="font-weight: bold;">Số lượng</th>
                                    <th class="product-total text-center" style="font-weight: bold;">Tổng cộng</th>
                                    <th class="product-remove text-center" style="font-weight: bold;">Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="product-thumbnail" style="width: 200px">
                                            <a href="@Url.Action("XemChiTiet", "SanPham", new { @maSP = item.MaSP})"> <img src="@Url.Content("~/HinhAnh/HinhAnhSP/"+ item.HinhAnh)" style="width: 150px; height: 100px;" class="img-fluid"></a>
                                        </td>
                                        <td class="product-name" style="width: 400px; height: 100px;">
                                            <h2 class="h5">@item.TenSP</h2>
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h5 text-center">@item.TenMau</h2>
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h5 text-center">@item.TenSize</h2>
                                        </td>
                                        <td class="product-name"><h2 class="h5  text-center">@string.Format("{0:0,0}", @item.DonGia) VNĐ</h2></td>
                                        <td>
                                            <div class="input-group mb-3">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                @Html.TextBox("txtSoLuong", item.SoLuong, new { @type = "number", @class = "form-control", @style = "font-weight: bold" });
                                                @Html.ValidationMessage("LoiSl", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                        <td class="product-name"><h2 class="h5 text-center">@string.Format("{0:0,0}", @item.ThanhTien) VNĐ</h2></td>
                                        <td>
                                            <input type="submit" value="Cập nhật" class="btn btn-success" />
                                            <br />
                                            @Html.ActionLink("X", "XoaGioHang", new { @maSP = item.MaSP, @maMau = item.MaMau, @maSize = item.MaSize }, new { @class = "btn btn-danger btn-sm" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-5">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <button id="btnUpdate" class="btn btn-success btn-sm btn-block">Cập nhật giỏ hàng</button>
                        </div>
                        <div class="col-md-6">
                            <button id="btnContinue" class="btn btn-outline-success btn-sm btn-block">Tiếp tụp mua hàng</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">TỔNG ĐƠN HÀNG</h3>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">Tổng cộng:</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong style="font-size: 20px; font-weight: bold">@string.Format("{0:0,0}", TempData["TongTien"]) VNĐ</strong>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-success btn-lg py-3 btn-block" id="btnPayment" onclick="window.location='checkout.html'">Thanh toán</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Content/Client/js/main.js"></script>
@section footer{
    @Html.Action("FooterPartial", "Store")
}