@using ShopGiay.Models;
@model List<GIOHANG>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_CuaHangLayouts.cshtml";
}
@section headertop {
    @{ Html.RenderAction("HeaderTopPartial", "Store");}
}
@section headerbottom {
    @{ Html.RenderAction("DanhSachLoai", "Loai");}
}
<div class="site-wrap" style="margin: 30px">
    <div class="site-section">
        <div class="container">
            <h3 style="text-align: center; margin-bottom: 30px">GIỎ HÀNG CỦA BẠN</h3>
            @if (TempData["LoiSP"] != null)
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <strong>@TempData["LoiSP"]</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <div class="row mb-5">
                <form class="col-md-12" method="post">
                    <div class="site-blocks-table">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Ảnh</th>
                                    <th class="product-name">Sản phẩm</th>
                                    <th>Màu sắc</th>
                                    <th>Size</th>
                                    <th class="product-price">Giá</th>
                                    <th class="product-quantity">Số lượng</th>
                                    <th class="product-total">Tổng cộng</th>
                                    <th class="product-remove">Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                { 
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="@Url.Action("XemChiTiet", "SanPham", new { @masp = item.MaSP})"> <img src="@Url.Content("~/HinhAnh/HinhAnhSP/"+ item.HinhAnh)" alt="Image" class="img-fluid"></a>
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h5 text-black">@item.TenSP</h2>
                                        </td>
                                        @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @masp = item.MaSP, @mamau = item.MaMau, @masize = item.MaSize }))
                                        {
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <td class="product-name">
                                                <h2 class="h5 text-black">@item.TenMau</h2>
                                            </td>
                                            <td class="product-name">
                                                <h2 class="h5 text-black">@item.TenSize</h2>
                                            </td>
                                            <td>@string.Format("{0:0,0}", @item.DonGia) VNĐ</td>
                                            <td>
                                                <div class="input-group mb-3" style="max-width: 120px;">
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-outline-primary js-btn-minus" type="button">−</button>
                                                    </div>
                                                    @Html.TextBox("txtSoLuong", item.SoLuong, new { @type = "text" , @class="form-control text-center"})
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-primary js-btn-plus" type="button">+</button>
                                                    </div>
                                                </div>
                                            </td>
                                        }
                                    <td>@string.Format("{0:0,0}", @item.ThanhTien) VNĐ</td>
                                        <td><a href="#" class="btn btn-primary btn-sm">X</a></td>
                                    </tr>
                                 }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-5">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <button class="btn btn-primary btn-sm btn-block">Update Cart</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="text-black h4" for="coupon">Coupon</label>
                            <p>Enter your coupon code if you have one.</p>
                        </div>
                        <div class="col-md-8 mb-3 mb-md-0">
                            <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-sm">Apply Coupon</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <span class="text-black">Subtotal</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black">$230.00</strong>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">Total</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black">$230.00</strong>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location='checkout.html'">Proceed To Checkout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Content/Client/js/main.js"></script>
@section footer{
    @Html.Action("FooterPartial", "Store")
}