<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="~/Content/Client/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Content/Client/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Client/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/Client/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/Client/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Client/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/Client/css/aos.css">
    <link rel="stylesheet" href="~/Content/Client/css/style.css">

</head>
<body>
    <div class="site-wrap">
        @RenderSection("SiteNavBar");
        @RenderSection("SiteBlocksCover")
        @RenderSection("SiteSection")
        @RenderBody()
        @RenderSection("SiteBlocks2")
        @RenderSection("SiteBlocks3")
        @RenderSection("SiteBlocks8")
        @RenderSection("SiteFooter")
    </div>
    
    <script src="~/Content/Client/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Client/js/jquery-ui.js"></script>
    <script src="~/Content/Client/js/popper.min.js"></script>
    <script src="~/Content/Client/js/bootstrap.min.js"></script>
    <script src="~/Content/Client/js/owl.carousel.min.js"></script>
    <script src="~/Content/Client/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Client/js/aos.js"></script>
    <script src="~/Content/Client/js/main.js"></script>
    @RenderSection("jsFooter", required: false)
</body>
</html>